.Container {
    border: 1px solid black;
    display: grid;
    display: flex;
    justify-content: center;

}

.box {
    /* background-color: grey; */
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
   
}
/* .box2 {
    border: 1px solid;
    background-color: grey;
    display: flex;
    height: 100px;
    width: 100px;
}
.box3 {
    background-color: grey;
    border: 1px solid;
    display: flex;
    height: 100px;
    width: 100px;
} */

.card {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 8px;
    /* display: inline-block; */
    margin: 10px;
    box-shadow: 2px 4px 8px black;
    transition: 1s ;
  
}
 
