div {
    border: 1px solid black;
    height: 200px;
    width: 500px;
}
.parent {
    display: flex;
    height : 200px;
    justify-content: start;
    align-items: start;
    /* flex-wrap: wrap; */
    gap: 20px;

#child-2{
    flex: 2;
}
    
}
.child {
    height: 50px;
    width: 70px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}